* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
    font-family: "Microsoft YaHei";
}


/*顶部导航栏*/

#header,
#footer {
    width: 100%;
    height: 60px;
    background: #333;
    color: white;
    line-height: 60px;
}

#header h1,
#header li {
    margin: 0;
    display: inline-block;
    line-height: 60px;
}

#header {
    background: #333 url(../img/logo.png) no-repeat 20px;
}

#header h1 {
    margin-left: 75px;
}

#header ul {
    position: absolute;
    right: 20px;
    top: 0;
}

#header li {
    float: left;
}

#header li a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

article,
#side {
    width: 96%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #999;
    background: white;
    box-shadow: #2B0F0F 2px 2px 1px;
}


/*吃货样式*/

.eat {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 200px;
    padding: 10px;
    text-align: center;
    border: 1px solid silver;
}

.eat>img {
    width: 180px;
    height: 130px;
}

article ul li {
    list-style: none;
}


/*table样式*/

article table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background: #333;
    color: white;
    border-right: 1px solid #ccc;
}

tbody td {
    border: 1px solid #ccc;
}

tfoot {
    background: #ccc;
    font-weight: bolder;
}

#side>h2 {
    line-height: 40px;
    font-size: 1.2em;
    border-left: 5px solid #ccc;
    margin-left: 10px;
    padding-left: 5px;
}

.title {
    display: inline-block;
    width: 30%;
    text-align: right;
    line-height: 30px;
}

#side p {
    margin-left: 30%;
    color: #aaa;
    font-size: 0.8em;
}

#side textarea {
    width: 50%;
    height: 80px;
}

#btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: #35d;
    border-radius: 10px;
}

#footer {
    text-align: center;
}